<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="org.nasdanika.models.sql.ast"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sql-ast -->
      <package
            uri="https://sql.models.nasdanika.org/ast"
            class="org.nasdanika.models.sql.ast.AstPackage"
            genModel="model/sql-ast.genmodel"/>
   </extension>

</plugin>
